[Desktop Entry]
Encoding=UTF-8
Name=BlankOn Zakat Kalkulator 
Comment=Aplikasi Perhitungan Zakat
Exec=zacalc
Icon=zacalc
Terminal=false
Type=Application
Categories=Peralatan-UVT;
StartupNotify=true


